@import "normalize";

@import "settings";

@import "swiper";

@import "mixin";

.container {
  padding-inline: min(6.25vw, 120px);
}

.hero {
  position: relative;
  background-color: #000223;

  &__container {
    @include back_img;
    position: relative;
    z-index: 2;
    min-height: min(37.76vw, 725px);
    background-image: url(../img/hero_line.png);
  }

  &__mainTxt {
    flex-direction: column;
    justify-content: center;
    max-width: min(39.48vw, 758px);
    min-height: inherit;
    margin-left: min(11.98vw, 230px);

    & > a {
      max-width: max-content;
      padding: min(.57vw, 11px) min(1.04vw, 20px);
      border-radius: min(.52vw, 10px);
      font-size: min(1.04vw, 20px);
      font-weight: 500;
      font-style: normal;
      line-height: min(.94vw, 18px);
      color: #ffffff;
      text-align: center;
      background: linear-gradient(92deg, #c8c69d -62.85%, #7f5d30 151.55%);
    }
  }

  & h1 {
    margin-bottom: min(.52vw, 10px);
    font-size: min(3.13vw, 60px);
    font-weight: 700;
    line-height: 120%;
    letter-spacing: 0;
    background: linear-gradient(90deg, #faffff 0%, #e6effc 100%);
    -webkit-background-clip: text;
            background-clip: text;

    -webkit-text-fill-color: transparent;

    & + p {
      margin-bottom: min(1.56vw, 30px);
      font-size: min(1.04vw, 20px);
      font-weight: 400;
      font-style: normal;
      line-height: normal;
      background: linear-gradient(90deg, #faffff 0%, #e6effc 100%);
      -webkit-background-clip: text;
              background-clip: text;

      -webkit-text-fill-color: transparent;
    }
  }

  &__cup {
    position: absolute;
    z-index: 1;
    right: min(16.67vw, 320px);
    bottom: max(-1.30vw, -25px);
    width: min(23.18vw, 445px);
    height: min(37.76vw, 725px);
    background-image: url(../img/cup.gif);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
}

.about {
  position: relative;
  z-index: 2;
  margin-bottom: min(7.81vw, 150px);
  padding-top: min(3.91vw, 75px);
  background-color: #f9ffff;

  &__imgBlock {
    width: min(43.75vw, 840px);
    height: min(29.74vw, 571px);

    & img {
      width: 100%;
      height: 100%;
      border-radius: min(.52vw, 10px);

      object-fit: cover;
    }
  }

  &__descrBlock {
    width: 50%;
  }

  & h2 {
    margin-bottom: min(1.56vw, 30px);
    font-size: min(1.98vw, 38px);
    font-weight: 700;
    font-style: normal;
    line-height: normal;
    color: #0d2041;
    text-transform: uppercase;

    & + p {
      margin-bottom: min(2.60vw, 50px);
      font-size: min(1.04vw, 20px);
      font-weight: 400;
      font-style: normal;
      line-height: 130%; /* 26px */
      color: #0d2041;
    }
  }

  &__container {
    justify-content: space-between;

    column-gap: min(1.98vw, 38px);
  }

  &__list {
    flex-wrap: wrap;

    column-gap: min(.78vw, 15px);
  }

  &__item {
    align-items: center;
    justify-content: center;
    max-width: min(13.54vw, 260px);
    min-height: min(3.65vw, 70px);
    border: 2px solid #c8c69d;
    border-radius: min(2.60vw, 50px);

    column-gap: min(.52vw, 10px);

    &:first-child {
      padding-inline: min(1.04vw, 20px) min(2.29vw, 44px);

      & > svg {
        width: min(1.67vw, 32px);
        height: min(1.67vw, 32px);
      }
    }

    &:nth-child(2) {
      padding-inline: min(1.25vw, 24px) min(1.93vw, 37px) ;

      & > svg {
        width: min(1.56vw, 30px);
        height: min(1.56vw, 30px);
      }
    }

    &:nth-child(3) {
      padding-inline: min(1.25vw, 24px) min(1.04vw, 20px) ;

      & > svg {
        width: min(1.77vw, 34px);
        height: min(1.25vw, 24px);
      }
    }

    & > span {
      font-size: min(1.04vw, 20px);
      font-weight: 700;
      font-style: normal;
      line-height: normal;
      color: #0d2041;
    }
  }
}

.moment {
  //
  overflow: hidden;

  &__slider {
    width: min(43.23vw, 830px) !important;
    height: min(28.80vw, 553px);
    margin: 0 auto;
    margin-bottom: min(1.56vw, 30px);
  }

  &__container {
    @include back_img;
    width: 100%;
    min-height: min(156.25vw, 3000px);
    background-image: url(../img/back.jpg);
  }

  &__slide {
    width: 100%;
    border-radius: min(5.21vw, 100px);
    background-image: url(../img/about.jpg);
    transition: all .3s ease-in-out;
  }

  &__titleBlock {
    align-items: center;
    justify-content: space-between;
    margin-bottom: min(2.08vw, 40px);

    & hr {
      width: min(29.32vw, 563px);
      height: 3px;
      background-color: #c8c69d;
    }

    & h2 {
      font-size: min(1.98vw, 38px);
      font-weight: 700;
      line-height: 100%;
      color: #0d2041;
      letter-spacing: 0;
      text-transform: uppercase;
    }
  }

  &__more {
    display: block;
    width: max-content;
    margin: 0 auto;
    margin-bottom: min(6.25vw, 120px);
    padding: min(.52vw, 10px) min(1.04vw, 20px);
    border-radius: min(.52vw, 10px);
    font-size: min(1.04vw, 20px);
    font-weight: 500;
    font-style: normal;
    line-height: min(.94vw, 18px); /* 90% */
    color: #ffffff;
    text-align: center;
    background: linear-gradient(92deg, #c8c69d -62.85%, #7f5d30 151.55%);
  }
}

//
.swiper-slide-active {
  z-index: 10;
  width: 100%;
  height: min(28.80vw, 553px) !important;
}

.swiper-slide-prev {
  z-index: 9;
  left: min(14.58vw, 280px);
  height: min(25.00vw, 480px) !important;
  pointer-events: none;
}

.swiper-slide-next {
  z-index: 9;
  right: min(14.58vw, 280px);
  height: min(25.00vw, 480px) !important;
  pointer-events: none;
}

.swiper-wrapper {
  align-items: center;
}

//

.nomin {
  margin-bottom: min(7.81vw, 150px);

  & h2 {
    margin-bottom: min(1.56vw, 30px);
    font-size: min(1.98vw, 38px);
    font-weight: 700;
    line-height: 100%;
    color: #f9ffff;
    letter-spacing: 0;
    text-transform: uppercase;
  }

  &__btnBlock {
    flex-wrap: wrap;
    margin-bottom: min(1.56vw, 30px);

    column-gap: min(.78vw, 15px);
  }

  &__btn {
    & > button {
      padding: min(.52vw, 10px) min(1.56vw, 30px);
      border-radius: min(1.56vw, 30px);
      font-size: min(1.25vw, 24px);
      font-weight: 500;
      line-height: 100%;
      color: #e5f2ff;
      letter-spacing: 0;
      background-color: #071433;
      transition: all .3s ease-in-out;
    }

    & > .active {
      color: #ffffff;
      background: linear-gradient(91.97deg, #c8c69d -62.85%, #7f5d30 151.55%);
    }
  }

  &__list {
    flex-wrap: wrap;

    gap: min(.52vw, 10px);

    & > li {
      width: max-content;
      padding: min(.78vw, 15px) min(1.56vw, 30px);
      border-radius: min(1.56vw, 30px);
      font-size: min(1.04vw, 20px);
      font-weight: 400;
      line-height: 100%;
      color: #0d2041;
      letter-spacing: 0;
      background-color: #f9ffff;
    }
  }
}

.visible {
  display: flex;
}

.none {
  display: none;
}

.org {
  position: relative;
  z-index: 10;
  flex-wrap: wrap;
  margin-bottom: min(13.02vw, 250px);

  gap: min(.57vw, 11px);

  &__item {
    width: min(21.09vw, 405px);
    height: min(13.02vw, 250px);
    padding: min(1.04vw, 20px);
    border-radius: min(.52vw, 10px);
    background-color: #f9ffff;

    &_title {
      position: relative;
      padding: min(1.04vw, 20px);
      background: #d9d9d91a 10%;

      &::after {
        @include back_img;
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        background-image: url(../img/border_title.png);

        inset: 0;
      }

      & > h3 {
        margin-bottom: min(.47vw, 9px);
        font-size: min(1.56vw, 30px);
        font-weight: 700;
        line-height: 130%;
        color: #f9ffff;
        letter-spacing: 0;
      }

      & > hr {
        width: 100%;
        height: 1px;
        margin-bottom: min(.78vw, 15px);
        background-color: #878787;
      }

      & > p {
        font-size: min(.94vw, 18px);
        font-weight: 400;
        line-height: 130%;
        color: #f9ffff;
        letter-spacing: 0;
      }
    }

    &_main {
      display: flex;
      align-items: center;
      justify-content: center;

      & > div {
        height: min(3.65vw, 70px);
      }
    }

    &_2 {
      & > div {
        width: min(11.15vw, 214px);
      }
    }

    &_3 {
      & > div {
        width: min(16.30vw, 313px);
      }
    }

    &_4 {
      & > div {
        width: min(11.61vw, 223px);
      }
    }

    &_5 {
      & > div {
        width: min(12.81vw, 246px);
      }
    }

    &_6 {
      & > div {
        width: min(9.84vw, 189px);
      }
    }

    &_7 {
      & > div {
        width: min(12.55vw, 241px);
      }
    }

    &_8 {
      & > div {
        width: min(12.81vw, 246px);
      }
    }

    &_9 {
      & > div {
        width: min(9.79vw, 188px);
      }
    }

    &_10 {
      & > div {
        width: min(14.90vw, 286px);
      }
    }

    &_11 {
      & > div {
        width: min(12.03vw, 231px);
      }
    }

    &_btn {
      position: relative;
      padding: min(1.04vw, 20px);
      background: transparent;

      &::after {
        @include back_img;
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        background-image: url(../img/border_btn.png);

        inset: 0;
      }
    }
  }

  &__backBig {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: calc(100% -  min(2.34vw, 45px));
    border-radius: min(.52vw, 10px) min(.52vw, 10px) min(.52vw, 10px) 0;
    background: #d9d9d91a 10%;
  }

  &__backSmall {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 56%;
    height: min(2.34vw, 45px);
    border-radius: 0 0 min(.52vw, 10px) min(.52vw, 10px);
    background: #d9d9d91a 10%;
  }

  & h4 {
    font-size: min(1.56vw, 30px);
    font-weight: 700;
    line-height: 130%;
    color: #f9ffff;
    letter-spacing: 0;
  }

  &__lastLink {
    position: absolute;
    z-index: 100;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: min(2.08vw, 40px);
    border-radius: min(.52vw, 10px);
    font-size: min(1.04vw, 20px);
    font-weight: 500;
    line-height: 18px;
    color: #ffffff;
    text-align: center;
    letter-spacing: 0;
    background: linear-gradient(91.97deg, #c8c69d -62.85%, #7f5d30 151.55%);

    padding-inline: min(1.04vw, 20px);
  }
}

.quest {
  position: relative;
  min-height: min(27.24vw, 523px);

  & h3 {
    margin-bottom: min(.52vw, 10px);
    font-size: min(2.40vw, 46px);
    font-weight: 700;
    line-height: 100%;
    color: #ffffff;
    letter-spacing: 0;
    text-transform: uppercase;
  }

  &__descrBlock {
    max-width: min(37.60vw, 722px);

    & > p {
      margin-bottom: min(2.60vw, 50px);
      font-size: min(1.04vw, 20px);
      font-weight: 400;
      line-height: 130%;
      color: #ffffff;
      letter-spacing: 0;
    }

    & > a {
      display: flex;
      align-items: center;
      justify-content: center;
      width: max-content;
      min-height: min(2.08vw, 40px);
      border-radius: min(.52vw, 10px);
      font-size: min(1.04vw, 20px);
      font-weight: 500;
      line-height: 18px;
      color: #ffffff;
      text-align: center;
      letter-spacing: 0;
      background: linear-gradient(91.97deg, #c8c69d -62.85%, #7f5d30 151.55%);

      padding-inline: min(1.04vw, 20px);
    }
  }

  &__imgBlock {
    @include back_img;
    position: absolute;
    z-index: 1;
    right: max(-6.25vw, -120px);
    bottom: 0;
    width: min(71.25vw, 1368px);
    height: min(53.96vw, 1036px);
    background-image: url(../img/cup_bottom.png);
  }
}

//
 .example-desc {
        margin:3px 0;
        padding:5px;
      }

      #carousel {
        display: flex;
        justify-content: center;
        width:100%;
        text-align: center;
        margin: 0 auto;
        border:1px solid #222;
        height:600px;
        position:relative;
        clear:both;
        overflow:hidden;
        background:#FFF;
      }
      #carousel img {
        visibility:hidden; /* hide images until carousel can handle them */
        cursor:pointer; /* otherwise it's not as obvious items can be clicked */
        width: 500px;
        height: 400px;
        object-fit: cover;
      }

      .split-left {
        width:450px;
        float:left;
      }
      .split-right {
        width:400px;
        float:left;
        margin-left:10px;
      }
      #callback-output {
        height:250px;
        overflow:scroll;
      }
      textarea#newoptions {
        width:430px;
      }
      .nav {
        width: 80px; margin: 20px auto
      }

// hover
.nomin__button:hover {
  color: #ffffff;
  background: linear-gradient(91.97deg, #c8c69d -62.85%, #7f5d30 151.55%);
}

.org__lastLink:hover,
.quest__descrBlock > a:hover,
.moment__more:hover,
.hero__mainTxt>a:hover {
  color: #e5f2ff;
  background: #071433;
}





